.modal-content {
    background-color: #000;
}

.custom-input {
    background-color: #232227;
    color: #fff;
    border: 1px solid #fff;
    width: 100%;
    height: 50px;
}

.custom-input:focus {
    background-color: #000;
    color: #fff;
    border-color: rgba(150, 149, 149, 0.912);
    outline: none;
}

.custom-input::placeholder {
    color: rgba(255, 255, 255, 0.7);
}

.modal-header .btn-close-white {
    filter: invert(1);
}